# Ignore all directories in the root
/*/

# Except the scripts directory
!scripts/

# Standard Python ignores
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore specific files in the scripts folder
scripts/basics.py
scripts/cam.py
scripts/sort.py
scripts/videos-simple.py